* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    text-decoration: none;
}

#Users {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.027);
}

.box-item {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid silver;
    height: 100%;
    &:last-child {
        padding: 0 0 0 50px;
    }
    &:first-child {
        padding: 0 50px 0 0;
        border: none;
    }
}

.item-bot {
    margin-top: 10px;
    display: flex;
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
}

.input {
    position: relative;
}

label {
    position: absolute;
    top: -30px;
    left: 0px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
}

form {
    display: flex;
    input {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid blue;
        margin-right: 10px;
    }
    button {
        height: 38px;
        padding: 0px 10px;
        border-radius: 10px;
        color: white;
        border: none;
        background-color: blue;
    }
}

.home {
    width: 95%;
    margin: 50px auto;
}

.hidden{
    display: none;
}