<template>
  <div class="home">
    <NewUser/>
    <User/>
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
import NewUser from '../components/AddNewUser.vue'
import User from '../components/Users.vue'

export default {
  components: {
    NewUser, User
  }
}
</script>
