<template>
  <div id="newUser">
    <form @submit="onSubmit()">
      <div class="name input">
        <label for="Ваше имя">Ваше имя</label>
        <input type="text" name="name" />
      </div>
      <div class="age input">
        <label for="Ваше имя">Ваш возраст</label>
        <input type="number" name="age" />
      </div>
      <button>Добавить</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "NewUser",
  methods: {
    onSubmit: function () {
      event.preventDefault();

      let fm = new FormData(event.target);
      let obj = {};

      fm.forEach((value, key) => {
        obj[key] = value;
      });
      
      obj.age = +obj.age

      if (obj.name === "" || obj.age === "") {
        console.log("error");
      } else {
          this.$store.commit("ADDNEWUSER", obj);
      }
    },
  },
};
</script>

<style>
</style>