<template>
  <div id="Users">
    <div class="before box-item">
      <h2>Люди до 25</h2>
      <div class="item" v-for="item of this.arr" :key="item.id" :class="item.age >=  25 ? 'hidden' : ''">
        <div class="div" v-if="item.age <= 25">
          <h3>{{ item.name }}</h3>
          <div class="item-bot">
            <p>Age</p>
            <p>{{ item.age }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="not box-item">
      <h2>Люди до 50</h2>
      <div class="item" v-for="item of this.arr" :key="item.id" :class="item.age <=  25 || item.age >= 50 ? 'hidden' : ''">
        <div class="div" v-if="item.age >= 25 && item.age <= 50">
        <h3>{{ item.name }}</h3>
        <div class="item-bot">
          <p>Age</p>
          <p>{{ item.age }}</p>
        </div>
      </div>
        </div>
    </div>
    <div class="after box-item">
      <h2>Остальные</h2>
      <div class="item" v-for="item of this.arr" :key="item.id" :class="item.age <=  50 ? 'hidden' : ''">
        <div class="div" v-if="item.age >= 50">
        <h3>{{ item.name }}</h3>
        <div class="item-bot">
          <p>Age</p>
          <p>{{ item.age }}</p>
        </div>
      </div>
    </div>
        </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "User",
  data() {
    return {
      twentyFive: [],
      fivety: [],
      other: [],
      data: []
    };
  },
  computed: {
    ...mapGetters(["arr"]),
  },
  methods: {
    ...mapActions(["ADDNEWUSER"]),
  },
};
</script>

<style>
</style>